h1{
    text-align: center;
}
.body{
    margin-top: 0%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5px;
    background-color: rgb(157, 230, 230);
}
p{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}